version: "3.8"
services:

    db:
      image: mysql
      container_name: db_docker_lbc
      restart: always
      volumes: 
          - db-data:/var/lib/mysql
      environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      networks: 
          - dev

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin_docker_lbc
        restart: always
        depends_on:
            - db
        ports: 
            - "8080:80"
        environment: 
            PMA_HOST: db
        networks:
            - dev

    mailhog:
        image: mailhog/mailhog
        ports: 
            - 1025:1025
            - 8025:8025
      
    www:
        build: php
        container_name: www_docker_lbc
        ports:
            - "8741:80"
        volumes:
            - ./php/vhosts:/etc/apache2/sites-enabled
            - ./:/var/www
        restart: always
        networks:
            - dev
networks:
    dev:

volumes:
    db-data:
