<!-- Start Banner Hero -->
<div
  id="template-mo-zay-hero-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="1"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="img/banner_img_01.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Leboncoin-like </b>petites annonces</h1>
              <h3 class="h2">Redonnez vie à vos objets</h3>
              <p>
                Leboncoin-like vous permet de donner une seconde vie à vos objets, mais également de dénicher la perle rare parmis toutes les annonces disponibles
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="img/banner_img_02.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Vendez</h1>
              <h3 class="h2">Un objet que vous n'utilisez plus ? Vendez le ici</h3>
              <p>
                Vous ne portez plus tels vêtements, vous n'aimez plus tels meubles ? Vendez les sur Leboncoin-like et soyez gagnant
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="img/banner_img_01.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Achetez</h1>
              <h3 class="h2">Un objet qui vous fait rêver ? Achetez le ici</h3>
              <p>
                Vous recherche depuis longtemps une paire de chaussures exclusive ? Le dernier téléphone du marché ? Acheter les sur le Leboncoin-like et faites des économies
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->
