{% extends 'base.html.twig' %}

{% block title %}Administrer les catégories{% endblock %}

{% block body %}

  <h1>Administration des catégories d'annonces</h1>

  <div>
    <h2>Ajouter une catégorie</h2>

      <div>
        {{ form(form) }}
        
      </div>
  </div>

  <div>
    <h2>Supprimer une catégorie</h2>
    
  </div>

{% endblock %}
